SECRET_KEY=vCaZK1lsYrHKmoaa5Q_5nY1UIDZ2GdwKBUwItu3hRMQ
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://postgres:289884@localhost:5432/friday_db

# Google OAuth (https://console.cloud.google.com)
GOOGLE_CLIENT_ID=258334803170-ip1ouqf6s02pm45up4inptcprfh7a67q.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Google Calendar
GOOGLE_CALENDAR_CREDENTIALS_JSON=AQ.Ab8RN6JpdBDzsPudswwkEhZ0xr12T71_03u_vn50xgrEQQlsIQ

# NewsAPI (https://newsapi.org)
NEWS_API_KEY=74d392e391284ee09d8e166f03b3bf65

# AI Provider: "ollama" for local dev, "gemini" for production
AI_PROVIDER=ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=gemma:2b
GEMINI_API_KEY=AQ.Ab8RN6IEGhucLH_RfFqh0dvNeu4d1-W983k8KZ-ors587XkYKw

# Paystack (https://dashboard.paystack.com)
PAYSTACK_SECRET_KEY=sk_test_24d66ee9681a8f995e7cdb54051186e9b0edbc55
PAYSTACK_PUBLIC_KEY=pk_test_e2466a4865e776716b539c14cd56ca258a9b761d


# Redis (for Celery task queue)
REDIS_URL=redis://localhost:6379/0

FRONTEND_URL=http://localhost:5173
