Django==4.2.13
djangorestframework==3.15.1
django-cors-headers==4.3.1
django-allauth==0.63.3
dj-rest-auth==6.0.0
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.9
python-decouple==3.8
dj-database-url==2.1.0
Pillow==10.3.0
celery==5.3.6
redis==5.0.4
requests==2.31.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.127.0
stripe==9.5.0
pyttsx3==2.90
SpeechRecognition==3.10.4
PyAudio==0.2.14
ollama==0.2.1
google-generativeai==0.5.4
